<div class="stat-tile">
    <div class="d-flex align-items-center mb-2">
        <div class="stat-icon me-2 d-flex align-items-center">
            <svg width="16" height="16"><use href="{{ icon }}"></use></svg>
        </div>
        <div class="copy-label mb-0">
            {{ label }}
        </div>
    </div>
    <div class="copy-value {{ textClass }}" id="{{ id }}">
        {{ slot }}
    </div>
    
    <button class="btn btn-sm btn-link p-1 btn-copy" 
            data-copy="{{ id }}" 
            title="Copy to clipboard">
        <svg width="14" height="14"><use href="#icon-copy"></use></svg>
    </button>
</div>