DB_USERNAME=
DB_PASSWORD=
DB_HOST=
DOCKER_CONTAINER=
TARGET_DATABASES=
USE_DOCKER=FALSE
TARGET_DATABASES=
MARIA_BIN_PATH=
EXPORT_DEST_DIR=
DB_NAME_IMPORT=
IMPORT_FILE_PATH=
DB_NAME_MAIN=
DB_NAME_DW=

# Character Set Settings
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci
# Backup Performance Tweaks
DB_DUMP_OPTS=--single-transaction --routines --triggers --events --max_allowed_packet=2G --net_buffer_length=32M
# Populate in case you like to add new rules when creating a db
DB_CUSTOM_RULES=
TMS_INFRA_FOLDERS=tms-dos,tms-dos-data,tms-dos-data\apache-configuration,tms-dos-data\mariadb-configuration,tms-tools,Archived,Archived\code,Archived\auto_backups
NEW_DB_USERNAME=
NEW_DB_USER_HOST=
NEW__DB_USER_PASS=
NEW_DB_USER_PRIV=ALL PRIVILEGES