<div class="app-view">
    <div class="mb-4" data-component="widgets/collapse-section/template" data-id="collapsevInstInfra" data-title="{{ __('install.sections.infra') }}">
        <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 row-cols-xxl-6 g-3">
            <div class="col">
                <div class="action-card" 
                     data-description="{{ __('install.btns.init.desc') }}"
                     data-action="open-modal"
                     data-script="setup-folders.bat"
                     data-title="{{ __('msg.init', {target: 'Default Folders'}) }}"
                     data-desc="{{ __('msg.setupFolderdesc') }}">
                    <div class="action-icon d-flex align-items-center justify-content-center text-primary">
                        <svg width="20" height="20"><use href="#icon-folder"></use></svg>
                    </div>
                    <div class="action-label">{{ __('install.btns.init.title') }}</div>
                </div>
            </div>

            <div class="col">
                <div class="action-card" 
                     data-description="{{ __('install.btns.env.desc') }}"
                     data-action="open-modal"
                     data-script="sys-env-setup.bat"
                     data-title="{{ __('setup', {name: 'System ENV'}) }}"
                     data-desc="{{ __('install.winEnv.desc') }}">
                    <div class="action-icon d-flex align-items-center justify-content-center">
                        <svg width="20" height="20"><use href="#icon-gear"></use></svg>
                    </div>
                    <div class="action-label">{{ __('install.btns.env.title') }}</div>
                </div>
            </div>

            <div class="col">
                <div class="action-card" 
                     data-description="{{ __('install.btns.instTmsDos.desc') }}"
                     data-action="prmptTmsdInstllr">
                    <div class="action-icon d-flex align-items-center justify-content-center">
                        <svg width="20" height="20"><use href="#icon-app"></use></svg>
                    </div>
                    <div class="action-label">{{ __('install.btns.instTmsDos.title') }}</div>
                </div>
            </div>

            <div class="col">
                <div class="action-card heidi-install-card"
                     data-description="{{ __('install.btns.bulkInstall.desc') }}"
                     data-action="prompt-app-installer">
                    <div class="action-icon d-flex align-items-center justify-content-center text-primary">
                        <svg width="20" height="20"><use href="#icon-dbvwr"></use></svg>
                    </div>
                    <div class="action-label">{{ __('install.btns.bulkInstall.title') }}</div>
                </div>
            </div>
            <div class="col">
                <div class="action-card schedlr-install-card disabled-state" 
                    data-description="Add all necessary task schedulers to the server."
                    data-action="prmptSchedulrSetupWrappr">
                    <div class="action-icon d-flex align-items-center justify-content-center">
                        <svg width="20" height="20"><use href="#icon-tskschedlr"></use></svg>
                    </div>
                    <div class="action-label">
                        <div data-component="widgets/status-loadr/template" 
                            data-text="Checking Tasks..." 
                            data-color-class="text-primary">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="action-card" 
                     i18n-desc="install.btns.createEnv.desc"
                     data-action="open-modal"
                     data-script="create-env.bat"
                     data-title="Generate ENV"
                     data-desc="This will run create-env.bat to generate your .env file.">
                    <div class="action-icon d-flex align-items-center justify-content-center text-secondary">
                        <svg width="20" height="20"><use href="#icon-gear"></use></svg>
                    </div>
                    <div class="action-label" i18n="install.btns.createEnv.title"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-4" data-component="widgets/collapse-section/template" data-id="collapsevInstDb" data-title="{{ __('install.sections.db') }}">
        <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 row-cols-xxl-6 g-3">
            <div class="col">
                <div class="action-card" 
                    data-action="prmptCreatDB"
                     data-description="{{ __('install.btns.createDb.desc') }}"
                    >
                    <div class="action-icon d-flex align-items-center justify-content-center text-primary">
                        <svg width="20" height="20"><use href="#icon-plus"></use></svg>
                    </div>
                    <div class="action-label">{{ __('install.btns.createDb.title') }}</div>
                </div>
            </div>

            <div class="col">
                <div class="action-card" 
                     data-description="{{ __('install.btns.createUser.desc') }}"
                     data-action="prmptCreateDbUser">
                    <div class="action-icon d-flex align-items-center justify-content-center text-secondary">
                        <svg width="20" height="20"><use href="#icon-user"></use></svg>
                    </div>
                    <div class="action-label">{{ __('install.btns.createUser.title') }}</div>
                </div>
            </div>

        </div>
    </div>
</div>