<div data-component="widgets/collapse-section/template" data-id="collapseHw" data-title="{{ __('validation.hw') }}">
    <div class="row g-4">
        <div class="col-6 col-md-4">
            <div data-component="widgets/copy-field/template" 
                 data-label="{{ __('validation.hostname') }}" 
                 data-id="sys-hostname">
            </div>
        </div>

        <div class="col-6 col-md-4">
            <div data-component="widgets/copy-field/template" 
                 data-label="{{ __('validation.ipv4') }}" 
                 data-id="sys-ip"
                 class="fs-6 fw-bold text-primary" 
                 >
            </div>
        </div>

        <div class="col-6 col-md-4">
            <div data-component="widgets/copy-field/template" 
                 data-label="{{ __('validation.ram') }}" 
                 data-id="sys-ram"
                 >
            </div>
        </div>

        <div class="col-6 col-md-4">
            <div data-component="widgets/copy-field/template" 
                 data-label="{{ __('validation.processor') }}" 
                 data-id="sys-cpu"
                 >
            </div>
        </div>
     
        <div class="col-6 col-md-4">
            <div data-component="widgets/copy-field/template" 
                 data-label="{{ __('validation.storage') }}" 
                 data-id="sys-drive-d"
                 >
            </div>
        </div>

        <div class="col-6 col-md-4">
            <div data-component="widgets/copy-field/template" 
                 data-label="{{ __('validation.os') }}" 
                 data-id="sys-os"
                 >
            </div>
        </div>
    </div>
</div>