<div data-component="widgets/collapse-section/template" data-id="collapseHw" data-title="{{ __('validation.hw') }}">
    <div class="row g-3">
        <div class="col-12 col-md-6 col-lg-4">
            <div data-component="widgets/copy-field/template" 
                 data-label="{{ __('validation.hostname') }}" 
                 data-id="sys-hostname"
                 data-icon="#icon-monitor">
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
            <div data-component="widgets/copy-field/template" 
                 data-label="{{ __('validation.ipv4') }}" 
                 data-id="sys-ip"
                 data-text-class="text-primary"
                 data-icon="#icon-terminal">
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
            <div data-component="widgets/copy-field/template" 
                 data-label="{{ __('validation.ram') }}" 
                 data-id="sys-ram"
                 data-icon="#icon-task-manager">
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
            <div data-component="widgets/copy-field/template" 
                 data-label="{{ __('validation.processor') }}" 
                 data-id="sys-cpu"
                 data-icon="#icon-cpu">
            </div>
        </div>
     
        <div class="col-12 col-md-6 col-lg-4">
            <div data-component="widgets/copy-field/template" 
                 data-label="{{ __('validation.storage') }}" 
                 data-id="sys-drive-d"
                 data-icon="#icon-hard-drive">
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
            <div data-component="widgets/copy-field/template" 
                 data-label="{{ __('validation.os') }}" 
                 data-id="sys-os"
                 data-icon="#icon-info">
            </div>
        </div>
    </div>
</div>