<div class="bg-white rounded border shadow-sm d-flex flex-column">
    <div class="px-4 py-3 d-flex justify-content-between align-items-center tms-collapse-header" 
         data-bs-toggle="collapse" 
         data-bs-target="#{{ id }}" >
        
        <span class="section-label mb-0" style="margin-top: 2px;">{{ title }}</span>
        <svg class="collapse-chevron" width="16" height="16"><use href="#icon-chevron-down"></use></svg>
    </div>

    <div class="collapse show flex-grow-1" id="{{ id }}">
        <div class="px-4 pb-4 pt-0">
            {{ slot }}
        </div>
    </div>
</div>