<div class="mb-3 text-start">
    <label class="form-label small fw-bold text-muted mb-1" for="modal-input-{{id}}">{{label}}</label>
    <div class="input-group">
        <input type="password" class="form-control" id="modal-input-{{id}}" placeholder="{{placeholder}}">
        <button class="btn btn-outline-secondary d-flex align-items-center" type="button" id="modal-btn-eye-{{id}}" style="opacity: 0.6;">
            <svg width="16" height="16"><use href="#icon-eye"></use></svg>
        </button>
        <div class="invalid-feedback fw-bold" id="modal-err-{{id}}"></div>
    </div>
</div>