<div id="dashboard-view" class="app-view">
    <div class="mb-4" data-component="widgets/collapse-section/template" data-id="collapseQuickAccess" data-title="{{ __('dashboard.quickaccess') }}">
        <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 row-cols-xxl-6 g-3">
            <div class="col">
                <div class="action-card" i18n-desc="desc.openDir" data-dir-name="TMS-DOS root" data-action="open-tool" data-tool="opentmsdos">
                    <div class="action-icon d-flex align-items-center justify-content-center text-primary">
                        <svg width="16" height="16"><use href="#icon-folder"></use></svg>
                    </div>
                    <div class="action-label">__('opentmsdos')</div>
                </div>
            </div>
            <div class="col">
                <div class="action-card" i18n-desc="desc.openDir" data-dir-name="wai-customers" data-action="open-tool" data-tool="opencustomers">
                    <div class="action-icon d-flex align-items-center justify-content-center text-primary">
                        <svg width="16" height="16"><use href="#icon-folder"></use></svg>
                    </div>
                    <div class="action-label">__('opencustomer')</div>
                </div>
            </div>
            <div class="col">
                <div class="action-card" i18n-desc="desc.openDir" data-dir-name="TMS-TOOLS" data-action="open-tool" data-tool="opentmstools">
                    <div class="action-icon d-flex align-items-center justify-content-center text-primary">
                        <svg width="16" height="16"><use href="#icon-folder"></use></svg>
                    </div>
                    <div class="action-label">__('opentmstool')</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row g-4 mb-4">
        <div class="col-lg-6 col-12 d-flex flex-column" data-component="core/sys-hw"></div>
        <div class="col-lg-6 col-12 d-flex flex-column" data-component="core/sys-env"></div>
    </div>
</div>