<div id="server-validation-view" class="app-view">
    <div class="mb-4" data-component="widgets/collapse-section/template" data-id="collapsevQuickAccess" data-title="{{ __('validation.quickAccess') }}">
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5 g-3">
            <div class="col">
                <div class="action-card" i18n-desc="desc.sysIpconfig" data-action="open-tool" data-tool="ipconf">
                    <div class="action-icon d-flex align-items-center justify-content-center text-secondary">
                        <svg width="20" height="20"><use href="#icon-terminal"></use></svg>
                    </div>
                    <div class="action-label">__('validation.btns.ipconfig')</div>
                </div>
            </div>
            
            <div class="col">
                <div class="action-card" i18n-desc="desc.sysDxdiag" data-action="open-tool" data-tool="dxdiag">
                    <div class="action-icon d-flex align-items-center justify-content-center text-secondary">
                        <svg width="20" height="20"><use href="#icon-cpu"></use></svg>
                    </div>
                    <div class="action-label">__('validation.btns.dxdiag')</div>
                </div>
            </div>
            
            <div class="col">
                <div class="action-card" i18n-desc="desc.openDir" data-dir-name="Drive D:" data-action="open-tool" data-tool="openDrv">
                    <div class="action-icon d-flex align-items-center justify-content-center text-primary">
                        <svg width="20" height="20"><use href="#icon-folder"></use></svg>
                    </div>
                    <div class="action-label">__('validation.btns.driveD')</div>
                </div>
            </div>
            
            <div class="col">
                <div class="action-card" i18n-desc="desc.openDir" data-dir-name="This PC" data-action="open-tool" data-tool="explorer">
                    <div class="action-icon d-flex align-items-center justify-content-center text-secondary">
                        <svg width="20" height="20"><use href="#icon-monitor"></use></svg>
                    </div>
                    <div class="action-label">__('validation.btns.thisPc')</div>
                </div>
            </div>
            
            <div class="col">
                <div class="action-card" i18n-desc="desc.sysAbout" data-action="open-tool" data-tool="about">
                    <div class="action-icon d-flex align-items-center justify-content-center text-info">
                        <svg width="20" height="20"><use href="#icon-info"></use></svg>
                    </div>
                    <div class="action-label">__('validation.btns.aboutPc')</div>
                </div>
            </div>
            
            <div class="col">
                <div class="action-card" i18n-desc="desc.taskMngr" data-action="open-tool" data-tool="taskmngr">
                    <div class="action-icon d-flex align-items-center justify-content-center text-info">
                        <svg width="20" height="20"><use href="#icon-task-manager"></use></svg>
                    </div>
                    <div class="action-label">__('validation.btns.taskMngr')</div>
                </div>
            </div>

            <div class="col">
                <div class="action-card" i18n-desc="desc.tmsLaunch" data-action="open-tmsdos">
                    <div class="action-icon d-flex align-items-center justify-content-center text-info">
                        <svg width="20" height="20"><use href="#icon-tmsdos"></use></svg>
                    </div>
                    <div class="action-label">__('validation.btns.tmsLaunch')</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row g-4 mb-4">
        <div class="col-lg-6 col-12 d-flex flex-column" data-component="core/sys-hw"></div>
        <div class="col-lg-6 col-12 d-flex flex-column" data-component="core/sys-env"></div>
    </div>
</div>